@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Cypro+Minoan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
}

.microsoft-logo {
  width: 30px;
  height: 30px;
}

.nav-left-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo-and-microsoft-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.microsoft-title {
  font-family: "Poppins", sans-serif;
  color: #6b6666;
  font-weight: 600;
  font-size: 20px;
}

.nav-left-side-links {
  display: flex;
  gap: 20px;
}

.link-and-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-icons {
  display: flex;
  gap: 25px;
}

.navbar-links {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}

.navbar-links:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.ms-detailed-item-img {
  position: relative;
  width: 100%;
}

.ms365-on-img {
  /* font-family: 'Noto Sans Cypro Minoan', sans-serif; */
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 60px;
}

.text-on-img {
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 340px;
  line-height: 25px;
  margin-bottom: 20px;
}

.btn-on-img {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  background-color: #0067b8;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid #0067b8;
  border-radius: 4px;
  padding: 10px 12px;
}

.btn-on-img:hover {
  cursor: pointer;
  background-color: #035696;
}

.six-people-text {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  font-size: 18px;
  color-interpolation-filters: #000000;
}

.six-people-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.six-and-icon {
  display: flex;
  align-items: center;
  color: #0067b8;
}

#six-people-right-arrow {
  color: #000000;
}

.texts-and-btn-on-img {
  position: absolute;
  top: 230px;
  left: 100px;
}

.btn-and-link {
  display: flex;
  gap: 30px;
}

.third-section {
  margin: 80px 60px 0 60px;
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
}

.third-section-img {
  width: 250px;
}

.bolded-title {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 8px;
}

.split-section-1 {
  width: 30%;
  /* height: 40%; */
}

.split-section-info {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 17px;
  line-height: 170%;
}

.split-section-link {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #0067b8;
  margin: 20px 0;
}

.split-section-link:hover {
  text-decoration: underline;
  text-decoration-color: #0067b8;
}

.
