@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  /* gap: 30px; */
  justify-content: space-between;
  padding: 15px 60px;
}

.microsoft-logo {
  width: 30px;
  height: 30px;
}

.nav-left-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo-and-microsoft-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.microsoft-title {
  font-family: "Poppins", sans-serif;
  color: #6b6666;
  font-weight: 600;
  font-size: 20px;
}

.nav-left-side-links {
  display: flex;
  gap: 20px;
}

.link-and-icon {
  display: flex;
  gap: 5px;
}

.nav-right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-icons {
  display: flex;
  gap: 15px;
}

.navbar-links {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}

.navbar-links:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.ms-detailed-item-img {
  position: relative;
  width: 100%;
}

.ms365-on-img {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.text-on-img {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  width: 340px;
  line-height: 150%;
}

.btn-on-img {
  font-family: "Kanit", sans-serif;
  background-color: #0067b8;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px 12px;
}

.six-people-text {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  color-interpolation-filters: #000000;
}

.six-and-icon {
  display: flex;
  align-items: center;
}

.texts-and-btn-on-img {
  position: absolute;
  top: 230px;
  left: 100px;
}

.btn-and-link {
  display: flex;
  gap: 30px;
}
